body {
    margin            : 0;
    padding           : 0;
    font-family       : 'Lato';
    transition        : all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition   : all 1s ease;
    -ms-transition    : all 1s ease;
    -o-transition     : all 1s ease;
    color             : #E2E8F0;
}

p {
    font-weight: 200;
    line-height: 1.5;
}

h3 {
    font-weight: 400;
    margin-top : 0;
}



.container {
    display : flex;
    align-items: center;

    justify-content: space-between;
    flex-wrap      : wrap;
}

.container div {
    background: #718896;
    border    : 1px solid silver;
    padding   : 1.6rem;

    box-sizing: border-box;
    width     : calc(1/3*100% - (1-1/3) * 30px);
}

/* Tab */
@media (max-width: 1024px) {
    .container div {
        width: calc(1/2*100% - (1-1/3) * 10px);
    }
}

/* Mobile */
@media (max-width: 640px) {
    .container div {
        width: calc(1/1*100% - (1-1/3) * 0px);
    }
}